<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Factura Generada ERROR</title>
</head>
<body>

	<div style="border: 2px solid #e66a15; border-radius: 8px;">
		<div style="background: #e66a15; padding: 10px 20px 10px;">
			<h3 layout:fragment="titulo" style="color: #FFF;">Factura Generada con Error</h3>	
		</div>
		
		<div style="padding: 20px;">			
			<p>Estimado/a <span th:text="${nombreUsuario}">Pérez Sánchez Juan</span></p>
			<p>La FACTURA <strong><span th:text="${numeroFactura}">005-001-0000008548</span></strong> del cliente <strong><span th:text="${codigoCliente}">1723535553</span></strong> <strong><span th:text="${nombreCliente}">PERICO DE LOS PALOTES</span></strong> tuvo un <strong>ERROR</strong> en su generación.</p>
			<P>Favor comunicarse con el área de sistemas para su revisión y corrección.</P>			
			<p>Documento(s) asociados a la Cotización <strong><span th:text="${numeroCotizacion}">CCL-0000008548</span></strong></p>
		<p>Atentamente,</p>
		<p>WST-TUVAL</p>
		
		</div>
	</div>

</body>
</html>
